#left{
	position: absolute;
	overflow: hidden;
	width: 200px;
	height: 100%;
	border-right: 1px solid #66ccff;
}

#list{
	position: absolute;
	padding-top: 20px;
	float: left;
	border-bottom: 0px;
	width: 200px;
	top: 0px;

	li{
		border-top: 1px solid #66ccff;
		&.last{
			border-bottom: 1px solid #66ccff;
		}

		a{
			display: block;
			padding: 10px 20px;

			&:hover, &.active{
				background: #66ccff;
				color: white;
				font-weight: bold;
			}
		}
	}
}

#right{
	margin-left: 201px;
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#right-scroll{
	width: 100%;
	position: absolute;
	background-color: #fff;
}

#content{
	margin-right: 201px;
	padding: 1px 20px 20px 20px;
}

p{
	margin: 20px 0px;
}