#header{
	text-align: center;

	.title{
		display: block;
		margin-top: 100px;
		color: #66ccff;
		font-size: 100px;
	}

	.desc{
		font-size: 20px;
	}
}

#content{
	text-align: center;

	.project{
		width: 250px;
		height: 150px;
		line-height: 150px;
		text-align: center;
		margin: 100 80px;
		background: #66ccff;
		border: 1px solid #66ccff;
		display: inline-block;

		&:hover{
			background: white;
			color: #66ccff;
		};
	}
}