.ui-tooltip-wrap{
	display: none;
	padding: 5px;
	font-size: 12px;
	min-width: 30px;
	position: absolute;
	z-index: 100000;
	border-radius: 3px;
	color: #ef683e;
	background-color: #fbf8ec;
	border: 1px solid #ef683e;
}

.ui-tooltip-wrap .ui-tooltip-arrow{
	content: '';
	display: inline-block;
	position: absolute;
	font-size: 0px;
	height: 0px;
	border: 5px solid transparent;
}

.ui-tooltip-top .ui-tooltip-arrow{
	bottom: 0; 
	left: 50%;
	margin-left: -5px;
	border-top-color: #ef683e;
	border-bottom: none;
	margin-bottom: -5px;
}

.ui-tooltip-bottom .ui-tooltip-arrow{
	margin-left: -5px;
	top: 0px; 
	margin-top: -5px;
	left: 50%;
	border-top: none;
	border-bottom-color: #ef683e;
}

.ui-tooltip-left .ui-tooltip-arrow{
	border-left-color: #ef683e;
	border-right: none;
	right: 0; 
	top: 50%;
	margin-top: -5px;
	margin-right: -5px;
}

.ui-tooltip-right .ui-tooltip-arrow{
	border-right-color: #ef683e;
	border-left:none;
	left: 0; 
	top: 50%;
	margin-top: -5px;
	margin-left: -5px; 
}

.ui-tooltip-top-right .ui-tooltip-arrow, .ui-tooltip-right-top .ui-tooltip-arrow{
	bottom: 0; 
	left: 5px;
	margin-left: 0;
	border-top-color: #ef683e;
	border-bottom: none;
	margin-bottom: -5px;
}

.ui-tooltip-top-left .ui-tooltip-arrow, .ui-tooltip-left-top .ui-tooltip-arrow{
	bottom: 0; 
	right: 5px;
	margin-left: 0;
	border-top-color: #ef683e;
	border-bottom: none;
	margin-bottom: -5px;
}

.ui-tooltip-bottom-right .ui-tooltip-arrow, .ui-tooltip-right-bottom .ui-tooltip-arrow{
	top: 0; 
	left: 5px;
	margin-left: 0;
	margin-top: -5px;
	border-top: none;
	border-bottom-color: #ef683e;
}

.ui-tooltip-bottom-left .ui-tooltip-arrow, .ui-tooltip-left-bottom .ui-tooltip-arrow{
	top: 0; 
	right: 5px;
	margin-left: 0;
	margin-top: -5px;
	border-top: none;
	border-bottom-color: #ef683e;
}